{% extends '../delights/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row" data-aos="fade-down"  data-aos-duration="900">
    <div class="col-sm-12 my-2 pt-3">
        <h1 class="module_title">Login</h1>
        <hr>
    </div>
    <div class="col-sm-12 mt-5">     
      <div>
          <form method="post">
            {% csrf_token %}
            <div class="row">
              <div class="col-sm-12">
                {{ form.username|as_crispy_field }}
              </div>
              <div class="col-sm-12">
                {{ form.password|as_crispy_field }}
              </div>              
              <div class="col-sm-12 mt-4"><button class="btn btn-special" type="submit">Login</button> </div>             
            </div>
          </form>        
        </div>
    </div>
  </div>       
{% endblock %}
    